
body {
	background-color: #f3f3f4;
  font-family: 'Open Sans', sans-serif !important;
}

.btn-group {
	width: 50% !important;
}

.btn-label {
	width: 100% !important;
}

#header {
	padding: 32px;
	padding-top: 18px;
	padding-bottom: 18px;
}

small {
    font-weight: 300 !important;
}

.wrapper {
  display: grid; /* display: inline-grid;*/
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 3 x 1 fraction */
  grid-gap: 12px;
	padding: 12px;
}

#brightness-widget {
  height: 250px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

#lwt-widget {
		grid-row: 2 / span 1;
		grid-column: 2 / span 1;
}

#last-message-widget {
	grid-row: 1 / span 1;
}

#next-widget {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
}

#SECOND-widget {
	grid-row: 1 / span 2;
	grid-column: 3 / span 2;
}

.default-widget-heading {
	margin-top: 5px !important;
}

.default-widget{
	grid-row: 3;
}

.color-identifier  {
	margin-right: 5px;
}

.row {
	padding: 0px 17px 0px 17px;
}

#mqtt-dash-jumbotron {
	background-color: #ffffff;
	padding: 35px 17px 35px 17px;
	border-bottom: 1px solid #e7eaec;
	border-top: 1px solid #e7eaec;

	-webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.13);
	box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.13);
}

#active-topics {
  list-style-type: none;
	padding: 0px;
	padding-top: 15px !important;
	padding-bottom: 5px !important;
	height: 200px;
	max-height: 200px;
	overflow-y: scroll;
}

ul {
	list-style-type: none;
	padding: 0px;
	padding-bottom: 5px !important;
}

li {
	padding: 9px 12px 9px 0px;
	border-bottom: 1px solid #e7eaec;
  clear:both;
  height: 32px;
}

input {
	border: 1px solid #e5e6e7;
	padding: 8px !important;
}

.topic-entry:hover > div {
	display: block;
}

.icon-right {
	float: right;
	color: rgba(27, 179, 148, 1);
	font-size: 15px;
  display: none;
}
.left {
	float: left;
}

#reconnect-btn {
	 color: rgba(27, 179, 148, 1);
	 cursor: pointer;
	 padding: 0px 10px 0px 10px;
	 font-size: 20px;
}

.button {
	padding-left: 15px !important;
	padding-right: 15px !important;
  background-color: rgba(27, 179, 148, 1);
  border: 1px solid rgba(27, 179, 148, 1);
	color: white;
}

.button:focus {outline:0;}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  border: 1px solid rgba(27, 179, 148, 1);
}


.box {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.13);
	box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.13);
	border-bottom: 1px solid #e7eaec;
}

.primaryText {
  color: #1ab394
}

.secondaryText {
	color: #f8ac59
}

.warningText {
	color: #ed5666
}

.temperature-entry-marking {
	font-size: 10px;
	margin-right: 25px;
}

.greyText {
	color: #b1b1b1
}

::selection {
	background: #1ab394;
	color: #ffffff;
}

.box-head{
	border-top: 2px solid #e7eaec;
	/* padding: 12px; */
	padding: 6px 12px 6px 12px;

	border-bottom: 1px solid #e7eaec;
}

.box-body {
	padding: 12px;
}

h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 33px !important;
    margin: 0px !important;
		margin-right: 5px !important;
    font-weight: 200 !important;
    display: inline;
}

.headline-break{
	display: block;
}

h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 0px !important;
    display: inline;
}

h3 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px !important;
    font-weight: 200 !important;
    margin-bottom: 0px !important;
    display: inline;
    font-size: 16px !important;
		color: #999c9e;
}

h4 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px !important;
    font-weight: 200 !important;
    margin-bottom: 0px !important;
    display: inline;
    font-size: 26px !important;
}


h5 {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.inline {
	display: inline;
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


#active-topics::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

#active-topics::-webkit-scrollbar
{
	width: 10px;
	background-color: lightgrey;
}

#active-topics::-webkit-scrollbar-thumb
{
	background-color: lightgrey;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
